<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SupplyBranch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SupplyBranch.Properties.Settings.SupplyDBConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SupplyDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SupplyBranch.Properties.Settings>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
        </SupplyBranch.Properties.Settings>
    </userSettings>
</configuration>